#ss-root {
    margin-inline: auto;
    display: grid;
    height: 100vh;
    overflow: hidden;
    width: 100vw;
    grid-template-areas:
        "nav nav"
        "aside main";
    grid-template-columns: 4.6rem 1fr;
    grid-template-rows: 4.6rem 1fr;
}

@media (min-width: 75.5rem) {
    #ss-root {
        grid-template-columns: 6.5rem 1fr;
        grid-template-rows: 5.5rem 1fr;
    }
}
