.ss-profile {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    display: grid;
    gap: var(--spacing-medium);
    grid-template-rows: auto 1fr auto;
    margin-inline: auto;
    width: min(100%, 90rem);
}

@media (min-width: 75rem) {
    .ss-profile {
        gap: var(--spacing-large);
    }
}

.ss-header {
    grid-column: 1 / -1;
    grid-row: 1;
}

.ss-activity {
    grid-column: 1 / 4;
    grid-row: 2;
}

.ss-key-data {
    grid-row: 2 / 4;
    grid-column: 4 / -1;
}

.ss-score {
    grid-row: 3;
    grid-column: 3 / 4;
}