.ss-sideNav__credit {
    transform: rotate(-180deg);
    font-size: 0.75rem;
    writing-mode: tb-rl;
}

.ss-sidebar__nav {
    color: var(--color-primary);
    margin-block: auto;
}

.ss-sideNav {
    display: flex;
    padding: 2.5rem 1rem;
    color: #fff;
    flex-direction: column;
    align-items: center;
    grid-area: aside;
    background-color: #020203;
}